.custom-carousel .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.custom-carousel .card:hover {
  transform: scale(1.05);
}

.detail-img {
  border-radius: 8px 8px 0 0;
}
