.innerhome {
    width: 100%;
    height: max-content;
}
.school {
    background-color: brown;
}
img:hover {
    transform: scale(1.05);
    margin-bottom: 8px;
}

.p-corousel-item {
    height: 300px;
}