.college-card {
    border: 1px solid #6a1b9a;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 250px;
    object-fit: contain;
  }
  
  .college-card-title {
    color: #6a1b9a;
    font-weight: bold;
  }
  
  .college-card-text {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .detail-imgs{
    height:250px;
    width: auto;
  }
  @media(max-width:576px){
    .college-card{
        height: 250px!important;
        width: 200px!important;
    }
    .detail-imgs{
        height:180px!important;
        width: 200px!important;
      }
      .college-card-title {
        font-size: medium;
      }
      
      .college-card-text {
        font-size: 0.7rem;
        font-weight: bold;

      }
  }
  @media(max-width:768px){
    .college-card{
        height: 220px;
        width: 200px;
        margin: 2px;
    }
    .detail-imgs{
        height:100px;
        width: 200px;
      }
  }
  @media(max-width:992px){
    .college-card{
        height: 260px;
        width: 280px;
        margin: 5px;
    }
    .detail-imgs{
        height:150px;
        width: 280px;
      }
  }

  @media(max-width:1200px){
    .college-card{
        height: 260px;
        width: 250px;
        margin: 5px;
    }
    .detail-imgs{
        height:130px;
        width: 250px;
      }
  }