.custom-navbar {
    background-color: #6a1b9a; /* Purple */
    padding: 10px 0;
    height:auto;
    overflow: hidden;
  }
  
  /* Brand Logo */
  .brand-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Search Form */
  .search-form {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 25vw;
  }
  
  .search-form .form-control {
    border: 1px solid #fff;
  }
  
  .search-form .btn {
    color: #6a1b9a;
    background-color: #fff;
    border: none;
    margin-left: 10px;
  }
  
  /* Navigation Links */
  .nav-link {
    color: #fff !important;
    font-size: 1rem;
    margin: 0 10px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    /* Brand and Search Bar on Same Line for Small Screens */
    .custom-navbar .row:first-child {
      flex-wrap: nowrap;
      /* Prevent wrapping */
    }
    .custom-navbar{
        padding-top: -100px;
        width: 100%;
        height: auto!important;

    }
    .search-form {
    margin-left: -60px!important;
    width: 54vw;
    
    }
    
  
    .brand-logo {
      font-size: 1.1rem;
      margin-right: -20px!important;

    }
  
    .nav-link {
      width: 100%;
      margin-top: 70px!important;
      font-size: 0.9rem;
      margin-left: -30px!important;
     justify-content: center;
    }
  
    .search-form .btn {
      margin-left: 5px;
      width: 50px;
    }
  }
  
  @media (max-width: 576px) {
    .brand-logo {
      font-size: 1.4rem;
      margin-left: -80px;
    }
  
    .a1 {

      font-size: 0.8rem;
      margin-right: 50px;
    }
   
      
  
    
  
    .search-form .btn {
      width: 50px;
      margin-top: 5px;
      margin-right: 30px;
    }
  }
  
  /* Media Queries */