.custom-navbar {
    background-color: #6a1b9a; /* Purple */
    padding: 10px 0;
    height:auto;
    overflow: hidden;
    display: flex;
  }

   .search-results .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .search-results > div > h5 {
    display: none;
  }
  .search-results > div > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    border: black;
    background-color:#bc77e8;
    list-style: none;
  }

  .search-results > div > ul > li {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid grey;

  }

  .search-results > div > ul > li > a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  
  /* Brand Logo */
  .brand-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Search Form */
  .search-form {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 35vw!important;
    border-radius: 160px!important;
  }
  
  .search-form .form-control {
    border: 1px solid #fff;
  }
  
  .search-form .btn {
    color: #6a1b9a;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    margin-left: 5px!important;
   
  }
  
  /* Navigation Links */
  .nav-link {
    color: #fff !important;
    font-size: 1rem;
    margin: 0 10px;
    flex-direction: row;
  }
  @media (max-width:1200px) {
    /* Brand and Search Bar on Same Line for Small Screens */
  
    .custom-navbar{
        padding-top: -100px;
        width: 100%;
        height: 100px!important;

    }
    .search-form {
    margin-left: -20px!important;
    width: 60vw!important;
    
    }
    
  
    .brand-logo {
      font-size: 1.1rem;
      margin-right: -20px!important;

    }
  
    .nav-link {
      width: 100%;
      margin-top: 70px!important;
      font-size: 0.9rem;
      margin-left: -20px!important;
     justify-content: center;
    }
  
    .search-form .btn {
      margin-left: 5px;
      width: 50px;
    }
  }
  @media (max-width:992px) {
    .brand-logo {
      font-size: 1.4rem;
      margin-left:-100px!important;
    }
    .search-form {
      margin-left:-30px!important;
     width: 65vw!important;
      
      }
      
    
  
    .a1 {

      font-size: 0.8rem;
      margin-right: 50px!important;
    }
    .search-form .btn {
      width: 50px;
      margin-top: 5px;
      margin-right: 30px;
    }
  }
  /* Media Queries */
  @media (max-width: 768px) {
    .custom-navbar .row:first-child {
      flex-wrap: nowrap;
      /* Prevent wrapping */
    }
    .custom-navbar{
      overflow-y:hidden!important;
    }
    .brand-logo {
      font-size: 1.4rem;
      margin-left:-100px!important;
    }
    .search-form {
      margin-left:-30px!important;
     width: 65vw!important;
      
      }
    .a1 {

      font-size: 0.8rem;
     margin-right: 10px!important;
    }
   
    .search-form .btn {
      width: 50px;
      margin-top: 5px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .custom-navbar .row:first-child {
      flex-wrap: nowrap;
      /* Prevent wrapping */
    }
    .brand-logo {
      font-size: 1.4rem;
      margin-left:-150px!important;
    }
    .search-form {
      margin-left:-80px!important;
     width: 55vw!important;
      
      }
      
    
  
    .a1 {

      font-size: 0.8rem;
      margin-right: 50px!important;
    }
   
      
  
    
  
    .search-form .btn {
      width: 50px;
      margin-top: 5px;
      margin-right: 30px;
    }
  }
  
  /* Media Queries */
