/* Footer Styles */
.footer1 {
  background: black;
  padding: 20px 0;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6a1b9a;
}

footer p, footer a {
  font-size: 1.1rem;
  color:white;
  margin: 0;
}
.footer-a{
  color:white!important;
  text-decoration: none;

}

footer a:hover {
  text-decoration: underline;
}

footer .bg-dark {
  margin-top: -50px;
  background-color: black !important;
}

footer .text-light {
  color: #ffffff !important;
}
@media (max-width:1200px) {
  footer h5 {
    font-size: 1.5rem;
  }

  footer p, footer a {
    font-size: 1rem;
  }
}

@media (max-width:992px) {
  footer h5 {
    font-size: 1.4rem;
  }

  footer p, footer a {
    font-size: 0.9rem;
  }
}


/* Media Queries */
@media (max-width: 768px) {
  footer h5 {
    font-size: 1rem;
  }

  footer p, footer a {
    font-size: 0.685rem!important;
  }
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }

  footer h5 {
    font-size: 0.9rem;
  }

  footer p, footer a {
    font-size: 0.8rem;
  }
}
